:root {
	--white_envelope: #f3f4f5;
	--gold_envelope: url(../img/gold_texture.png) #e3ca6f;
	--white_paper_up: #f2f2f2;
	--white_paper_down: #b1b1b11a;
}

/* Try Lock Portrait */
/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
} */

body {
	width: 100%;
	margin: 0;
	background: var(--white_envelope);
	overflow-y: hidden;
	font-family: "Montserrat", sans-serif;
	font-size: 0.4vw;
	z-index: 0;

	-webkit-animation: bodyScroll 0.1s 9s ease-in-out forwards;
	-o-animation: bodyScroll 0.1s 9s ease-in-out forwards;
	-moz-animation: bodyScroll 0.1s 9s ease-in-out forwards;
	animation: bodyScroll 0.1s 9s ease-in-out forwards;
}

@media (max-width: 2300px) {
	body {
		font-size: 0.6vw;
	}
}

@media (max-width: 2100px) {
	body {
		font-size: 0.7vw;
	}
}

@media (max-width: 1100px) {
	body {
		font-size: 1vw;
	}
}

.imgPortada {
	/* height: 110vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/galeria/2.jpg) var(--white_paper_down);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
	/* height: 100vh; */
	/* height: -webkit-fill-available; */
	height: calc(var(--vh) * 110);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../img/galeria/2.jpg) var(--white_paper_down);
	/* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	opacity: 0;

	-webkit-box-shadow: inset 0px -2px 6px -1px black;
	-moz-box-shadow: inset 0px -2px 6px -1px black;
	box-shadow: inset 0px -2px 6px -1px black;

	-webkit-animation: appear 3s 9.5s ease-in-out forwards;
	-o-animation: appear 3s 9.5s ease-in-out forwards;
	-moz-animation: appear 3s 9.5s ease-in-out forwards;
	animation: appear 3s 9.5s ease-in-out forwards;
}

.imgPortadaFalse {
	/* min-height: 100vh; */
	/* height: -webkit-fill-available; */
	height: calc(var(--vh) * 108);
	width: 100%;
	background-color: transparent;
	background-size: cover;
}

@media (min-width: 800px) {
	.imgPortada {
		background: url(../img/galeria/4.jpg) var(--white_paper_down);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.letter {
	/* height: 100vh; */
	height: calc(var(--vh) * 108);
	width: 100%;
	background-color: white;
	position: relative;
	/* z-index: 2; */
}

.sticky_effect {
	position: absolute;
	/* top: calc(-40vh - 1vw); */
	top: calc(-40% - 1vw);
	/* top: calc(calc(var(--vh) * (-43.2)) - 1vw); */
	/* height: calc(140vh + 1vw); */
	height: calc(140% + 1vw);
	/* height: calc(calc(var(--vh) * 151.2) + 1vw); */
	width: 100%;
}

.letter_content {
	height: 71.4%;
	/* height: calc(var(--vh) * 108); */
	width: 100%;
	position: sticky;
	/* top: calc(70vh - 1vw); */
	top: calc(70% - 1vw);
	/* top: calc(calc(var(--vh) * 67.6) - 1vw); */
}

/*  SVG  */
.mask_mavi {
	fill: none;
	stroke: #fff;
	stroke-width: 40;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.write1 {
	stroke-dasharray: 6000;
	stroke-dashoffset: 6000;

	-webkit-animation: animate-mavi 3.5s 9.3s ease-in forwards;
	-o-animation: animate-mavi 3.5s 9.3s ease-in forwards;
	-moz-animation: animate-mavi 3.5s 9.3s ease-in forwards;
	animation: animate-mavi 3.5s 9.3s ease-in forwards;
}

.write2 {
	stroke-dasharray: 6000;
	stroke-dashoffset: 6000;

	/* 2.5s de diferencia */
	-webkit-animation: animate-mavi 4.5s 11.8s ease-out forwards;
	-o-animation: animate-mavi 4.5s 11.8s ease-out forwards;
	-moz-animation: animate-mavi 4.5s 11.8s ease-out forwards;
	animation: animate-mavi 4.5s 11.8s ease-out forwards;
}

#mavi_white {
	fill: #ffffff;
}

#mavi_gold {
	fill: #e1b100;
}

#mis_quince path {
	fill-rule: evenodd;
	stroke-width: 0;
	opacity: 0;

	-webkit-animation: appear 2.5s 12.8s ease-out forwards;
	-o-animation: appear 2.5s 12.8s ease-out forwards;
	-moz-animation: appear 2.5s 12.8s ease-out forwards;
	animation: appear 2.5s 12.8s ease-out forwards;
}

#mis_quince_gold {
	fill: #e1b100 !important;
}

#mis_quince_gray {
	fill: #8a8a8a !important;
}

#mask_marcoB {
	transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
	-ms-transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
	-webkit-transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
	-o-transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
	-moz-transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
}

#mask_marco_goldB {
	transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
	-ms-transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
	-webkit-transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
	-o-transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
	-moz-transform: translate(
		calc((100% - calc(calc(var(--vh) * 44.28) + 3%)) / 2),
		0
	);
}

#mavi_white_use {
	fill: #ffffff;

	transform: translate(
		calc(
			(101% - min(calc(var(--vh) * 45), calc(calc(var(--vh) * 35) + 10%))) / 2
		),
		calc(calc(var(--vh) * (-40)) + 1vw)
	);
	-ms-transform: translate(
		calc(
			(101% - min(calc(var(--vh) * 45), calc(calc(var(--vh) * 35) + 10%))) / 2
		),
		calc(calc(var(--vh) * (-40)) + 1vw)
	);
	-webkit-transform: translate(
		calc(
			(101% - min(calc(var(--vh) * 45), calc(calc(var(--vh) * 35) + 10%))) / 2
		),
		calc(calc(var(--vh) * (-40)) + 1vw)
	);
	-o-transform: translate(
		calc(
			(101% - min(calc(var(--vh) * 45), calc(calc(var(--vh) * 35) + 10%))) / 2
		),
		calc(calc(var(--vh) * (-40)) + 1vw)
	);
	-moz-transform: translate(
		calc(
			(101% - min(calc(var(--vh) * 45), calc(calc(var(--vh) * 35) + 10%))) / 2
		),
		calc(calc(var(--vh) * (-40)) + 1vw)
	);
}

#mis_quince_use {
	transform: translate(
		max(10%, calc((100% - calc(var(--vh) * 59.4)) / 2)),
		calc(calc(var(--vh) * (-28.08)) + 1vw)
	);
	-ms-transform: translate(
		max(10%, calc((100% - calc(var(--vh) * 59.4)) / 2)),
		calc(calc(var(--vh) * (-28.08)) + 1vw)
	);
	-webkit-transform: translate(
		max(10%, calc((100% - calc(var(--vh) * 59.4)) / 2)),
		calc(calc(var(--vh) * (-28.08)) + 1vw)
	);
	-o-transform: translate(
		max(10%, calc((100% - calc(var(--vh) * 59.4)) / 2)),
		calc(calc(var(--vh) * (-28.08)) + 1vw)
	);
	-moz-transform: translate(
		max(10%, calc((100% - calc(var(--vh) * 59.4)) / 2)),
		calc(calc(var(--vh) * (-28.08)) + 1vw)
	);
}

.information {
	width: 85%;
	height: calc(66% - 2vw);
	/* height: calc(calc(var(--vh) * 66) - 2vw); */
	position: absolute;
	top: calc(30% + 1vw);
	/* top: calc(calc(var(--vh) * 30) + 1vw); */
	left: 7.5%;
}

.scroll {
	width: 100%;
	/* height: calc(60vh - 2vw); */
	height: calc(calc(var(--vh) * 64.8) - 2vw);
	overflow: hidden;
	perspective: 1000;
}

.sections {
	width: 500%;
	height: 100%;
	transition: transform 0.8s ease;
}

section {
	height: 100%;
	width: 20%;
	float: left;
}

/*  Dentro Section  */
.line {
	border-top: solid max(3px, 0.3vw) #e1b100;
	width: min(calc(var(--vh) * 47.5), 70%);
	margin: 0 auto;
}

.cuenta-regresiva {
	width: calc(var(--vh) * 10.8);
	height: calc(var(--vh) * 10.8);
	padding: calc(var(--vh) * 3.24);
	margin: 0 auto;
	margin-top: calc(var(--vh) * 5.4);
	border: solid 3px #e1b100;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.cuenta-regresiva p {
	font-size: calc(var(--vh) * 2.16);
	font-family: "Montserrat", sans-serif;
	color: #8a8a8a;
	margin: 0;
	margin-top: calc(var(--vh) * 0.432);
	line-height: 1.4;
}

header {
	width: 90%;
	/* height: 5vh; */
	margin: 0 5%;
	margin-top: calc(calc(var(--vh) * 12.96) - 2vw);
	text-align: center;

	/* background-color: pink; */
	/* font-size: 6vw; */
	font-size: min(46px, 6.5vw);
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #464646;
}

.box {
	margin: 18px 2%;
	font-size: min(3.5vw, 28px);
	/* font-size: 3.5vw; */
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #8a8a8a;
	text-align: center;
}

.box p {
	margin: 0;
}

.btn {
	display: inline-block;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: min(3.5vw, 30px);
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	color: white;
	background-color: #e1b100;
	border-radius: 30px;
	padding: 10px 40px;
	border: 1px solid #e1b100;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: calc(var(--vh) * 3.24);
}

.btn:hover {
	color: #e1b100;
	background-color: white;
}

#confirm {
	margin-top: calc(calc(var(--vh) * 10.8) - 2vw);
}

#galeria {
	margin-top: calc(calc(var(--vh) * 7.56) - 2vw);
	margin-bottom: calc(calc(var(--vh) * 3.24) - 1vw);
}

.container {
	width: min(calc(var(--vh) * 41.04), 95%);
	margin: 0 auto;
	/* max-height: 48vh; */
}

.row {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}

section.galeria .item-galeria {
	padding: 0 1.5%;
	margin-bottom: 3%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 47%;
	position: relative;
	width: 100%;
}

section.galeria .item-galeria a img {
	transition: all 0.3s ease-out;
	border-radius: 10px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

img {
	vertical-align: middle;
	border-style: none;
}

section.galeria .item-galeria a:hover img {
	transform: scale(1.1);
	position: relative;
	z-index: 999;
}

.fancybox-bg {
	background-color: #443603fa !important;
}

/*  Nav  */
nav {
	position: absolute;
	bottom: 3px;
	z-index: 0;
	height: calc(var(--vh) * 5.4);
	width: 100%;
}

ul {
	list-style-type: none;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav_a,
.nav_a:visited,
.nav_a:active {
	text-decoration: none;
	color: #b68e00;
}

.nav_a {
	transition: color 2s, background-color 1s, font-weight 1s;
	padding: 10px 12px;
	position: relative;
	z-index: 0;
	font-size: 22px;
	font-weight: 400;
	border-radius: 5%;
	background-color: #fff;
}

a.active {
	background-color: #8a8a8a;
	color: #ffffff;
	font-weight: 500;
}

.nav_a::before {
	content: "";
	position: absolute;
	height: 0%;
	width: 0%;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-color: #e1b100;
	z-index: -1;
}

.nav_a:hover {
	-webkit-animation: fillColour 0.7s forwards ease-in-out;
	-o-animation: fillColour 0.7s forwards ease-in-out;
	-moz-animation: fillColour 0.7s forwards ease-in-out;
	animation: fillColour 0.7s forwards ease-in-out;

	background-color: transparent;
}

.active:hover {
	-webkit-animation: fillColour2 0.7s forwards ease-in-out;
	-o-animation: fillColour2 0.7s forwards ease-in-out;
	-moz-animation: fillColour2 0.7s forwards ease-in-out;
	animation: fillColour2 0.7s forwards ease-in-out;
}

.nav_a:hover::before {
	-webkit-animation: fill 0.7s forwards ease-in-out;
	-o-animation: fill 0.7s forwards ease-in-out;
	-moz-animation: fill 0.7s forwards ease-in-out;
	animation: fill 0.7s forwards ease-in-out;

	opacity: 1;
}

.myLink {
	position: absolute;
	bottom: 5px;
	font-size: min(17px, calc(calc(var(--vh) * 1.08) + 1vw));
	width: 100%;
	text-align: center;
}

.myLink a {
	text-decoration: none;
	color: #8a8a8a;
}

@keyframes bodyScroll {
	to {
		overflow-y: auto;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animate-mavi {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}

	70% {
		width: 100%;
		height: 2px;
	}

	100% {
		width: 100%;
		height: 100%;
		background: #e1b100;
	}
}

@keyframes fillColour {
	0% {
		color: #e1b100;
	}
	50% {
		color: #e1b100;
	}
	100% {
		color: #8a8a8a;
	}
}

@keyframes fillColour2 {
	0% {
		color: #e1b100;
	}
	50% {
		color: #e1b100;
	}
	100% {
		color: #ffffff;
	}
}
