:root {
	--white_envelope: #f3f4f5;
	--gold_envelope: url(../img/gold_texture.png) #e3ca6f;
	--white_paper_up: #f2f2f2;
	--white_paper_down: #b1b1b11a;
	--gray: #a5a5a5;
}

body {
	width: 100%;
	margin: 0;
	background: var(--white_envelope);
	overflow-y: hidden;
	font-family: "Montserrat", sans-serif;
	font-size: 0.4vw;
	z-index: 0;

	-webkit-animation: bodyScroll 0.1s 9s ease-in-out forwards;
	-o-animation: bodyScroll 0.1s 9s ease-in-out forwards;
	-moz-animation: bodyScroll 0.1s 9s ease-in-out forwards;
	animation: bodyScroll 0.1s 9s ease-in-out forwards;
}

@media (max-width: 2300px) {
	body {
		font-size: 0.6vw;
	}
}

@media (max-width: 2100px) {
	body {
		font-size: 0.7vw;
	}
}

@media (max-width: 1100px) {
	body {
		font-size: 1vw;
	}
}

.imgPortada {
	height: calc(var(--vh) * 108);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../img/galeria/2.jpg) var(--white_paper_down);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	opacity: 0;

	-webkit-box-shadow: inset 0px -2px 6px -1px black;
	-moz-box-shadow: inset 0px -2px 6px -1px black;
	box-shadow: inset 0px -2px 6px -1px black;

	-webkit-animation: appear 3s 9.5s ease-in-out forwards;
	-o-animation: appear 3s 9.5s ease-in-out forwards;
	-moz-animation: appear 3s 9.5s ease-in-out forwards;
	animation: appear 3s 9.5s ease-in-out forwards;
}

@media (min-width: 800px) {
	.imgPortada {
		background: url(../img/galeria/4.jpg) var(--white_paper_down);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.imgPortadaFalse {
	height: calc(var(--vh) * 108);
	width: 100%;
	background-color: transparent;
	background-size: cover;
}

.letter {
	height: calc(var(--vh, 1vh) * 108);
	width: 100%;
	background-color: white;
	position: relative;
}

/* @media (min-width: 500px) {
	.letter {
		height: calc(var(--vh, 1vh) * 100);
	}
} */

.sticky_effect {
	position: relative;
	top: calc(var(--vh, 1vh) * (-38));
	height: calc(var(--vh, 1vh) * (146));
	width: 100%;
}

.letter_content {
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	position: sticky;
	top: calc(calc(var(--vh, 1vh) * 70));
}

.div_svg {
	position: absolute;
	transform-box: fill-box;
}

.div_marco {
	width: calc(100% - 8em);
	height: calc(94% - 7vw);
	top: calc(32px + 7vw);
	left: 4em;
}

.div_nombre_mavi {
	width: 100%;
	top: 0;
	height: calc(12% + 8vw);
	max-height: 195px;
}

.div_mis_quince {
	width: 80%;
	max-width: 500px;
	top: calc(var(--vh, 1vh) * 11);
	left: max(10%, calc((100% - 500px) / 2));
	height: 30vw;
	max-height: 249px;
}

.mask_mavi {
	fill: none;
	stroke: #fff;
	stroke-width: 40;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.write1 {
	stroke-dasharray: 6000;
	stroke-dashoffset: 6000;

	-webkit-animation: animate-mavi 3.5s 9.3s ease-in forwards;
	-o-animation: animate-mavi 3.5s 9.3s ease-in forwards;
	-moz-animation: animate-mavi 3.5s 9.3s ease-in forwards;
	animation: animate-mavi 3.5s 9.3s ease-in forwards;
}

.write2 {
	stroke-dasharray: 6000;
	stroke-dashoffset: 6000;

	/* 2.5s de diferencia */
	-webkit-animation: animate-mavi 4.5s 11.8s ease-out forwards;
	-o-animation: animate-mavi 4.5s 11.8s ease-out forwards;
	-moz-animation: animate-mavi 4.5s 11.8s ease-out forwards;
	animation: animate-mavi 4.5s 11.8s ease-out forwards;
}

#mavi_white {
	fill: #ffffff;
}

#mavi_gold {
	fill: #e1b100;
}

#mis_quinces path {
	fill: #e1b100;
	fill-rule: evenodd;
	stroke-width: 0;
	opacity: 0;

	-webkit-animation: appear 2.5s 12.8s ease-out forwards;
	-o-animation: appear 2.5s 12.8s ease-out forwards;
	-moz-animation: appear 2.5s 12.8s ease-out forwards;
	animation: appear 2.5s 12.8s ease-out forwards;
}

#mis_quince_gray {
	fill: #a5a5a5 !important;
}

.information {
	width: 85%;
	height: calc(70% - 8vw);
	position: absolute;
	left: 7.5%;
	bottom: 30px;
	display: flex;
	flex-direction: column;
}

.scroll {
	width: 100%;
	overflow: hidden;
	perspective: 1000;
	flex: 1;
}

.sections {
	width: 500%;
	height: 100%;
	transition: transform 0.8s ease;
}

section {
	height: 100%;
	width: 20%;
	float: left;
}

/*  Dentro Section  */
.line {
	border-top: solid max(3px, 0.3vw) #e1b100;
	width: min(44vh, 70%);
	margin: 0 auto;
}

.cuenta-regresiva {
	width: 10vh;
	height: 10vh;
	padding: 3vh;
	margin: 0 auto;
	margin-top: 5vh;
	border: solid 3px #e1b100;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.cuenta-regresiva p {
	font-size: 2vh;
	font-family: "Montserrat", sans-serif;
	color: var(--gray);
	margin: 0;
	margin-top: 0.4vh;
	line-height: 1.4;
}

header {
	width: 90%;
	margin: 0 5%;
	margin-top: calc(12vh - 2vw);
	text-align: center;

	font-size: min(46px, 7.2vw);
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #464646;
}

.box {
	margin: 18px 2%;
	font-size: min(4.2vw, 28px);
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: var(--gray);
	text-align: center;
}

.box p {
	margin: 0;
}

.btn {
	display: inline-block;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: min(3.5vw, 30px);
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	color: white;
	background-color: #e1b100;
	border-radius: 30px;
	padding: 10px 40px;
	border: 1px solid #e1b100;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 3vh;
}

.btn:hover {
	color: #e1b100;
	background-color: white;
}

#confirm {
	margin-top: calc(10vh - 2vw);
}

#galeria {
	margin-top: calc(7vh - 2vw);
	margin-bottom: calc(3vh - 1vw);
}

.container {
	width: min(38vh, 95%);
	margin: 0 auto;
}

.row {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}

section.galeria .item-galeria {
	padding: 0 1.5%;
	margin-bottom: 3%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 47%;
	position: relative;
	width: 100%;
}

section.galeria .item-galeria a img {
	transition: all 0.3s ease-out;
	border-radius: 10px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

img {
	vertical-align: middle;
	border-style: none;
}

section.galeria .item-galeria a:hover img {
	transform: scale(1.1);
	position: relative;
	z-index: 999;
}

.fancybox-bg {
	background-color: #443603fa !important;
}

/*  Nav  */
nav {
	z-index: 0;
	height: 10%;
	width: 100%;
}

ul {
	list-style-type: none;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav_a,
.nav_a:visited,
.nav_a:active {
	text-decoration: none;
	color: #b68e00;
}

.nav_a {
	transition: color 2s, background-color 1s, font-weight 1s;
	padding: 10px 12px;
	position: relative;
	z-index: 0;
	font-size: 22px;
	font-weight: 400;
	border-radius: 5%;
	background-color: #fff;
}

a.active {
	background-color: var(--gray);
	color: #ffffff;
	font-weight: 500;
}

.nav_a::before {
	content: "";
	position: absolute;
	height: 0%;
	width: 0%;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-color: #e1b100;
	z-index: -1;
}

.nav_a:hover {
	-webkit-animation: fillColour 0.7s forwards ease-in-out;
	-o-animation: fillColour 0.7s forwards ease-in-out;
	-moz-animation: fillColour 0.7s forwards ease-in-out;
	animation: fillColour 0.7s forwards ease-in-out;

	background-color: transparent;
}

.active:hover {
	-webkit-animation: fillColour2 0.7s forwards ease-in-out;
	-o-animation: fillColour2 0.7s forwards ease-in-out;
	-moz-animation: fillColour2 0.7s forwards ease-in-out;
	animation: fillColour2 0.7s forwards ease-in-out;
}

.nav_a:hover::before {
	-webkit-animation: fill 0.7s forwards ease-in-out;
	-o-animation: fill 0.7s forwards ease-in-out;
	-moz-animation: fill 0.7s forwards ease-in-out;
	animation: fill 0.7s forwards ease-in-out;

	opacity: 1;
}

.myLink {
	position: absolute;
	bottom: 5px;
	font-size: min(17px, calc(1vh + 1vw));
	width: 100%;
	text-align: center;
	background-color: transparent;
}

.myLink a {
	text-decoration: none;
	color: var(--gray);
}

@keyframes bodyScroll {
	to {
		overflow-y: auto;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animate-mavi {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}

	70% {
		width: 100%;
		height: 2px;
	}

	100% {
		width: 100%;
		height: 100%;
		background: #e1b100;
	}
}

@keyframes fillColour {
	0% {
		color: #e1b100;
	}
	50% {
		color: #e1b100;
	}
	100% {
		color: var(--gray);
	}
}

@keyframes fillColour2 {
	0% {
		color: #e1b100;
	}
	50% {
		color: #e1b100;
	}
	100% {
		color: #ffffff;
	}
}
